<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Veterinaria - Citas</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<h1>Registro de Citas</h1>

<form th:action="@{/citas}" method="post" sec:authorize="hasAnyRole('USER','ADMIN')">
    <label>Paciente:</label>
    <select name="pacienteId" required>
        <option th:each="p : ${pacientes}"
                th:value="${p.id}"
                th:text="${p.nombre}">
        </option>
    </select>

    <label>Fecha:</label>
    <input type="date" name="fecha" required>

    <label>Hora:</label>
    <input type="time" name="hora" required>

    <label>Motivo Consulta:</label>
    <input type="text" name="motivoConsulta" required>

    <label>Veterinario Asignado:</label>
    <select name="veterinarioAsignado" required>
        <option value="Veterinario 1">Veterinario 1</option>
        <option value="Veterinario 2">Veterinario 2</option>
        <option value="Veterinario 3">Veterinario 3</option>
    </select>

    <button type="submit">Registrar Cita</button>
</form>

<div class="nav-buttons">
    <form th:action="@{/home}">
        <button>Regresar</button>
    </form>
</div>

<h2>Lista de Citas</h2>

<table>
    <tr>
        <th>Paciente</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Motivo Consulta</th>
        <th>Veterinario Asignado</th>
        <th>Registrado por</th>
    </tr>
    <tr th:each="c : ${citas}">
        <td th:text="${c.paciente.nombre}"></td>
        <td th:text="${c.fecha}"></td>
        <td th:text="${c.hora}"></td>
        <td th:text="${c.motivoConsulta}"></td>
        <td th:text="${c.veterinarioAsignado}"></td>
        <td th:text="${c.usuario}"></td>
    </tr>
</table>

</body>
</html>
