<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Veterinaria - Pacientes</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>

<h1>Registro de Pacientes</h1>

<form th:action="@{/pacientes}" method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre" required>

    <label>Especie:</label>
    <input type="text" name="especie" required>

    <label>Raza:</label>
    <input type="text" name="raza" required>

    <label>Edad:</label>
    <input type="number" name="edad" required>

    <label>Dueño:</label>
    <input type="text" name="dueno" required>

    <button type="submit">Registrar Paciente</button>
</form>

<div class="nav-buttons">
    <form th:action="@{/home}">
        <button>Regresar</button>
    </form>
</div>

<h2>Lista de Pacientes</h2>

<table>
    <tr>
        <th>Nombre</th>
        <th>Especie</th>
        <th>Raza</th>
        <th>Edad</th>
        <th>Dueño</th>
    </tr>
    <tr th:each="p : ${pacientes}">
        <td th:text="${p.nombre}"></td>
        <td th:text="${p.especie}"></td>
        <td th:text="${p.raza}"></td>
        <td th:text="${p.edad}"></td>
        <td th:text="${p.dueno}"></td>
    </tr>
</table>

</body>
</html>
