<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Veterinaria - Inicio</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>

<body>
<h1 th:text="|Bienvenido a ${name}!|"></h1>
<div sec:authorize="isAuthenticated()">
    <h2 th:inline="text">Hola <span th:remove="tag" sec:authentication="name"></span>!</h2>
</div>

<div sec:authorize="!isAuthenticated()">
    <a th:href="@{/login}">
        <button>Iniciar sesión</button>
    </a>
</div>

<div sec:authorize="isAuthenticated()">
    <div class="nav-buttons">
        <form th:action="@{/pacientes}" sec:authorize="hasAnyRole('USER','ADMIN')">
            <button>Registrar pacientes</button>
        </form>
        <form th:action="@{/citas}" sec:authorize="hasAnyRole('USER','VET','ADMIN')">
            <button>Nueva cita</button>
        </form>
        <form th:action="@{/registros-medicos}" sec:authorize="hasAnyRole('VET','ADMIN')">
            <button>Registros Médicos</button>
        </form>
        <form th:action="@{/facturas}" sec:authorize="hasRole('ADMIN')">
            <button>Facturas</button>
        </form>
        <form th:action="@{/registros}" sec:authorize="hasAnyRole('VET','ADMIN')">
            <button>Ver registros</button>
        </form>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Cerrar sesión</button>
        </form>
    </div>
</div>

</body>

</html>
